.App {
  margin-top: 180px;
  text-align: center;
}

h1 {
  font-size: 40px;
}

.instruction {
  font-size: 20px;
  font-weight: bolder;
  font-style: italic;
}

.tip {
  margin-top: 50px;
  padding: 15px;
  font-size: 20px;
  color: blue;
}

button {
  padding: 10px;
  border: none;
  background-color: aquamarine;
  font-size: 30px;
  border-radius: 20px;
}

body {
  background-color: #F5FCCD;
}

button:hover {
  background-color: lightgray;
}
